<% if (req.session.User) {%>
<head>

    <style>
    .edit{
         width: 850px;
    }
    .black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    .white_content {
        display: none;
        position: absolute;
        top: 35%;
        left: 20%;
        width: 480px;
        height: 350px;
        
        border: none;
        background-color: white;
        z-index:1002;
        overflow: auto;
    }
</style>
</head>
  <script src="/js/dependencies/jquery.js"></script>
<script type="text/javascript">


function showDivPassw(){

 document.getElementById('light').style.display='block';
  document.getElementById('formPassword').style.display='block';
} 

$(function(){
        $("#submit").click(function(){
        $(".error").hide();
        var hasError = false;
        var passwordVal = $("#password").val();
        var checkVal = $("#password-check").val();
        if (passwordVal == '') {
            $("#password").after('<span class="error">Please enter a password.</span>');
            hasError = true;
        } else if (checkVal == '') {
            $("#password-check").after('<span class="error">Please re-enter your password.</span>');
            hasError = true;
        } else if (passwordVal != checkVal ) {
            $("#password-check").after('<span class="error">Passwords do not match.</span>');
            hasError = true;
        }
        if(hasError == true) {return false;}
    });
});

</script>
<div id="formPassword"  class="black_overlay"> </div>
  <div id="light" class="white_content">
<div class="col-md-6">
                            <div class="panel panel-white">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title">Edit Password </h4>
                                </div>
 <div class="panel-body">
  <form class="form-horizontal" name="form1" id="form-password" method="POST" action ="/EditPassw">
      
           <fieldset>
    <label>Past Password:</label>
    <input type="password" name="Lastpassword" id="Lastpassword" value="" size="32" />
    <label>New Password:</label>
    <input type="password" name="password" id="password" value="" size="32" />
    <label>Re-Enter Password:</label>
    <input type="password" name="password-check" id="password-check" value="" size="32" />
  
        
  </fieldset>
           <br> <div class="form-group">
               <div class="col-sm-offset-2 col-sm-10">
                  
                 <span> <input type="submit" value="Save" class="btn btn-success"  id="submit">
                  <input value="Cancel"  class="btn btn-danger"  onclick = "document.getElementById('light').style.display='none';document.getElementById('formPassword').style.display='none'"> </span>
               </div>
                             
          </div>                             
          
  </form>
                                </div>
                            </div>
                        </div>
    </div>


   <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/jquery-1.11.0.min.js"></script>
     <div class="profile-cover">
                    <div class="row">
                        <div class="col-md-3 profile-image">
                            <div class="profile-image-container">
                                <img src='<%=session.User.avatarFd%>' alt="">
                            </div>
                        </div>
                    
                    </div>
                </div>
                <div id="main-wrapper">
                    <div class="row">
                        <div class="col-md-3 user-profile">
                            <h3 class="text-center"><%=session.User.FirstName%> <%=session.User.LastName%></h3>
                            <%if (req.session.User.job){ %>
                            <p class="text-center"> <%=session.User.job%> <%if (req.session.User.soc){%> in <%=session.User.soc %>  <%}%></p>
                            <%}%>
                            <hr>
                            <ul class="list-unstyled text-center">
                                <li><p><i class="fa fa-map-marker m-r-xs"></i>Tunisie, Sfax</p></li>
                                <li><p><i class="fa fa-envelope m-r-xs"></i><a href="#"><%=session.User.email%></a></p></li>
                                
                            </ul>
                            <hr>
                           <a href="/profil"> <button class="btn btn-primary btn-block"><i class=" m-r-xs"></i>My Profil</button></a> 
                        </div>
                   <div class="col-md-6 ">    
     <section class="profile-feed">
                        
                        <div class="col-md-12 edit">
                            <div class="panel ">
                                <div >
                                    <div id="rootwizard">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-user m-r-xs"></i>Personal Info</a></li>
                                            <li role="presentation"><a href="#tab2" data-toggle="tab"><i class="fa fa-truck m-r-xs"></i>Others Info</a></li>
                                   
                                        </ul>
                          
                                    
                                        <div class="progress progress-sm m-t-sm">
                                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                            </div>
                                        </div>
                                        <form id="wizardForm" method="POST" action="/user/update/<%= session.User.id %>"  >
                                            <div class="tab-content">
                                                <div class="tab-pane active fade in" id="tab1">
                                                    <div class="row m-b-lg">
                                                        <div class="col-md-3">
                                                          
                                                            <div class="m-t-md">
                                                              <img src="images/user.png">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputName">First Name</label>
                                                                    <input type="text" class="form-control" name="FirstName" id="exampleInputName" value='<%=session.User.FirstName%>'>
                                                                </div>
                                                                <div class="form-group  col-md-6">
                                                                    <label for="exampleInputName2">Last Name</label>
                                                                    <input type="text" class="form-control col-md-6" name="LastName" id="exampleInputName2" value='<%=session.User.LastName%>' >
                                                                </div>
                                                                   <div class="form-group  col-md-6">
                                                                    <label for="username">Username</label>
                                                                    <input type="text" class="form-control col-md-6" name="username" id="username" value='<%=session.User.username%>' >
                                                                </div>
                                                                <div class="form-group col-md-12">
                                                                    <label for="exampleInputEmail">Email address</label>
                                                                    <input type="email" class="form-control" name="exampleInputEmail" id="exampleInputEmail" value='<%=session.User.email%>' >
                                                                </div>
                                                                <div class="form-group col-md-12">
                                                                    <div class="fa-item col-md-3 col-sm-4"><i class="fa fa-edit"></i><a href=""  id="exampleInputPassword1" onClick="showDivPassw()"> Edit Password ? </a>
                                                                        </div>
                                                                    

                                                                </div>
                                                               
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="tab2">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                          
                                                            <div class="m-t-md">
                                                              <img src="images/user.png">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="form-group col-md-12">
                                                                <label for="exampleInputProductName">Grade</label>
                                                                <input type="text" class="form-control" name="job" id="job" value='<%=session.User.job%>' >
                                                            </div>
                                                       
                                                         
                                                            <div class="form-group col-md-12">
                                                                <label for="phone">Phone</label>
                                                                <input type="text" class="form-control" name="phone" id="phone" value='<%=session.User.phone%>'>
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                               
                                                                <form id="uploadForm" enctype="multipart/form-data" action="/upload" method="post">
                                                                      <input type="file" name="uploadFile" />
                                                                      <input type="submit" value="submit"/>
               
                                                                </form>


                                                            </div>
                                                        </div>
                                                    </div>
                                                        <ul class="pager wizard">
                                                 
                                                    <li><input type="submit" id="done"class="btn btn-default" value="Done"> 
                                                    </li>
                                                </ul>
                                                </div>
                                        
                                            
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

      
       
                        </div>
    </section>
    </div>      
                </div>
   
               
    <!-- Bottom Scripts -->
    <script src="/js/gsap/main-gsap.js"></script>

    <script src="/js/joinable.js"></script>
    <script src="/js/resizeable.js"></script>
  

                    <div class="row">
                    
                    </div><!-- Row -->
                <!-- Main Wrapper -->
                <div class="page-footer">
                    <p class="no-s">2016 &copy; Hanen Hamroun</p>
                </div>

<% } %>