

<div class="container">
	<h3>List Event</h3>
	<table class='table'>
		<tr>
			
			
			<th>titleEvent</th>
			<th>date</th>
			<th>creator</th>
			<th>Description</th>
			<th>created at </th>
			<th></th>
		</tr>
		

		<% _.each(events, function(event) { %>
		<tr data-id="<%= event.id %>" data-model="event">
		
		
			<td><%= event.titleEvent %></td>
			<td><%= event.date %></td>
			<td><%= event.creator %></td>
			<td><%= event.Description %></td>
			<td><%= event.createdAt  %></td>
		
			<td><a href="/event/show/<%= event.id %>" class="btn btn-sm btn-primary">Show</a></td>
		

			<td><form action="/event/destroy/<%= event.id %>" method="POST">
				<input type="hidden" name="_method" value="delete"/>
				<input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
			</form></td>
		</tr> 

		<% }) %>
	</table>
</div>
